.about-us {
  display: grid;
  grid-template-columns: repeat(3);
  grid-auto-rows: minmax(150px, auto);
  margin: 0 1em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.about-us-header > h2 {
  display: inline-block;
  border: 10px solid #E6E6E6;
  padding: 0.5em 3em;
}

.about-us-header > h2:hover {
  border: 10px solid #8b8a8f;
  transition: 0.7s;
  padding: 0.5em 3em;
}

.about-us-content {
  width: 70%;
  margin: auto;
}

.about-us-content > p {
  margin: auto;
  text-align: center;
  padding: 5%;
}

.about-us > .back {
  margin: auto;
  background: #fff;
  color: #666;
  border: 1px solid #666;
  border-radius: 0;
}

.about-us > .back:hover  {
  color: #000;
  border: 1px solid #000;
  transition: 1s;
}