.chatroom {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

.chatroom form {
    background: #E6E6E6;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 90%;
}

.chatroom form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

.chatroom form button {
    width: 9%;
    background: #34495E;
    color: #E6E6E6;
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}