.dashboard {
  display: grid;
  grid-template-columns: repeat(3);
  grid-auto-rows: minmax(50px, auto);

}

.dashboard > h2 {
  margin: auto 0;
  padding: auto;
  text-align: center;

}

.menu-bar {
  padding: 20px;
}

.menu-bar > h4 {
  display: inline-block;
  padding: 0 1em;
}

.my-stats-link {
  display: inline-block;
  text-decoration: none;
  padding: 0 1em;
  color: #000;
}

.my-stats-link:hover {
  color: #1CCAED;
}

.gamerooms {
  margin: auto;
  padding: auto;
}

.room-link-container-0,
.room-link-container-1,
.room-link-container-2,
.room-link-container-3 {
  margin: 2em;
  padding: 2em 5em;
  border: 1px solid #dddddd;
}

.room-title {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.gamerooms a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.gamerooms p {
  margin: auto;
}

.room-link-container-0:hover,
.room-link-container-1:hover,
.room-link-container-2:hover,
.room-link-container-3:hover {
  background-color: #1AD6FB;
  transition: 1s;
}