.footer {
  background: #E6E6E6;
  height: 3.5em;
  bottom: -4em;
  position: relative;
  width: 100%;
  z-index: -1;
  border-top: 1px solid #cecece;
}

.footer p {
  padding: auto;
  text-align: center;
  color: #34495E;
}