.game-room {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 5% 25% 14% 20% 23%;
  height: 90vh;
}

.game-room h2, h4 {
  margin: 0;
  font-weight: 500;
}

.game-room h3 {
  margin: 0.6em auto;
}

.dashboard-link { 
  text-decoration: none;
}

.question-container {
  text-align: center;
  margin: 0 1em;
}

.question-container p {
  text-align: left;
  margin: 0 0.5em 1em 0.5em;
}

.winner {
  padding: 0 0.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.winner p {
  grid-column: 1;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  margin: auto;
  padding: auto;
  text-transform: uppercase;
  color: #34495E
}

.verify-buttons {
  grid-column: 2;
  margin: auto;
  text-align: right;
}

.approve-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 800;
  display: inline-block;
  background: #EC5252;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.5em 1.8em;
  margin: 0.25em 0.5em;
  border-radius: 5px;
}

.approve-button:hover {
  background: rgb(161, 52, 52);
  transition: 1s;
}

.deny-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 800;
  display: inline-block;
  background: #fff;
  color: #686F7A;
  text-decoration: none;
  border: 1px solid #686F7A;
  padding: 0.5em 1.5em;
  margin: 0.25em 0.5em;
  border-radius: 5px;
}

.deny-button:hover {
  color: #000;
  border: 1px solid #000;
  transition: 1s;
}


.challenger-text-editor {
  margin: 0.5em 0.5em 0 0.5em;
}

.my-text-editor {
  margin: 0.5em 0.5em 0 0.5em;
}

.btn-text-editor {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  font-weight: 800;
  display: inline-block;
  background: #fff;
  color: #686F7A;
  text-decoration: none;
  border: 1px solid #686F7A;
  padding: 0.7em 3em;
  margin: 0.5em;
}

.btn-text-editor:hover {
  color: #000;
  border: 1px solid #000;
}

.btn-finished {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  font-weight: 800;
  display: inline-block;
  background: #EC5252;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.7em 3em;
  margin: 0.5em;
}

.btn-finished:hover {
  background: rgb(161, 52, 52);
}


@media (min-width: 768px) {
  .game-room {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5% 5% 30% 10% 60%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    grid-template-areas: 
    "a a"
    "b b"
    "c c"
    "f f"
    "d e";
  }

  .dashboard-link {
    grid-area: a;
  }

  .game-room h2 {
    grid-area: b;
  }

  .question-container {
    grid-area: c;
  }

  .question-container > p {
    margin: 4em;
  }

  .winner {
    grid-area: f;
    margin: 0 0.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .winner p {
    grid-column: 2;
  }

  .winner .verify-buttons {
    grid-column: 3;
  }

  .challenger-text-editor {
    grid-area: d;  
  }

  .my-text-editor {
    grid-area: e;
  }

}