.header-bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
}

.header-bar-img {
  margin: 0.5em 1em;
  width:  40px;
}

.logout {
  grid-column: 4;
  text-decoration: none;
  padding: 0;
  margin: 0;
  border: none;
}

.logout:hover {
  background-color: #dddddd;
  transition: 1s;
}