.instructions {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.back {
  flex: 1;
  text-align: left;
}
.instructions-header {
  flex: 2;
  text-align: center;
}
.instructions-content {
  flex: 10;
}
.back-second {
  flex: 1;
}
h1 {
  display: inline-block;
  border: 10px solid #E6E6E6;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

h1:hover {
  border: 10px solid #8b8a8f;
  transition: 0.7s;
}

ul {
  margin: 10px;
  padding-left: 20px;
}
ul li {
  text-align: left;
  margin: 0 0 10px 0;
}
.back {
  display: inline-block;
  width: fit-content;
  background: #fff;
  color: #666;
  border: 1px solid #666;
  border-radius: 0;
}
.back:hover, .back-second:hover  {
  color: #000;
  background-color: rgb(209, 209, 209);
  border: 1px solid #000;
  transition: 1s;
}
.back-center {
  margin: auto;
  text-align: center;
}