body {
  font-family: 'Lora', serif;
  height: 120vh;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.landing {
  display: grid;
  min-height: 85vh;
  margin: 0;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 20% 20% 20%;
}

.landing img {
  margin-top: 5em;
  width: 200px;
  margin: auto;
  margin-bottom: 1em;
}

.app-name {
  border: none;
  font-weight: 500;
}

.app-name:hover {
  border: none;
  background: none;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  display: inline-block;
  background: #03c6f7;
  color: white;
  text-decoration: none;
  padding: 0.8em 2em;
  margin: 0.5em;
  border-radius: 30px;
}

.btn-dark {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  display: inline-block;
  background: #1e5163;
  color: white;
  text-decoration: none;
  padding: 0.8em 2em;
  margin: 0.5em;
  border-radius: 30px;
}

.btn:hover {
  background: #fc362b;
  transition: 0.3s;
}

.btn-dark:hover {
  background: #fff;
  color: #555361;
  transition: 0.3s;
}

.whoarewe {
  margin: auto;
}

.directory {
  padding: 0;
  margin: auto;
}
.oneliner {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-decoration: none;
  background: none;
  font-weight: 600;
  text-align: center;
  color: #333;
  padding: 0em 1.5em;
  margin: 0;
  position: relative;
}
.btn.aboutus {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-decoration: none;
  background: none;
  font-weight: 600;
  text-align: center;
  color: #333;
  padding: 0em 1.5em;
  margin: 0;
  position: relative;
}

.btn.aboutus:hover {
  transition: 1s;
  color: #fff;
}

.btn.aboutus:before {
  content: '';
  background: #f78a04;
  position: absolute;
  font-weight: bold;
  width: 100%;
  height: 0px;
  bottom: -20px;
  left: 0px;
  border-radius: 30px;
  transform: scaleX(0);
  animation: 1.4s forwards no-hover-v linear;
  animation-fill-mode: forwards;
  z-index: -1;
}
.btn.aboutus:hover:before,
.btn.aboutus:focus:before {
  animation: 0.5s forwards hover-v linear;
  animation-fill-mode: forwards;
}
@keyframes hover-v {
  0% {
    transform: scaleX(0);
    height: 5px;
  }
  45% {
    transform: scaleX(1.05);
    height: 5px;
  }
  55% {
    height: 5px;
  }
  100% {
    transform: scaleX(1.05);
    height: 3.8rem;
  }
}
/* @keyframes no-hover-v {
  0% {
      transform: scaleX(1.05);
      height: 3.8rem;
     }
  45% {height: 5px;}
  55% {   
      transform: scaleX(1.05);
      height: 5px;
      opacity: 1;
     }
  
  100% {
      transform: scaleX(0);
      height: 5px;
      opacity: .02;
     }
} */

.back-links {
  display: inline-block;
  text-decoration: none;
  padding: auto;
  margin: 2.5px 7.5px;
  color: #000;
  position: relative;
}

.back-links:hover {
  color: #8c8c8c;
  transition: 0.5s;
}

.back-links:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: rgb(182, 182, 182);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.back-links:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
