body {
  font-family: 'Lora', serif;
  height: 100%;
 }
 
 h1, h2, .btn.aboutus {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
 }

.landing {
  display: grid;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

.landing img {
  margin-top: 5em;
  width: 200px;
  margin: auto;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  display: inline-block;
  background: #03C6F7;
  color: white;
  text-decoration: none;
  padding: 0.8em 2em;
  margin: 0.5em;
  border-radius: 30px;
}

.btn-dark {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  display: inline-block;
  background: #1E5163;
  color: white;
  text-decoration: none;
  padding: 0.8em 2em;
  margin: 0.5em;
  border-radius: 30px;
}

.btn:hover {
  background: rgb(55, 102, 122);
  transition: 1s;
}

.btn-dark:hover {
  background: #fff;
  color: #555361;
  transition: 0.3s;
}

.whoarewe {
  margin: auto;
}

.directory {
  padding: 3em;
  margin: auto;
}

.btn.aboutus {
  background: #fff;
  color: #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em 1.5em;
}

.btn.aboutus:hover {
  background: #676470;
  transition: 0.5s;
  color: #fff;
}
