.my-stats {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 85vh;
}

.my-stats-container {
  background-color: #34495E;
  color: #fff;
  padding: 1em 2em 2em 2em;
  margin: auto;
  margin-top: 1em; 
  text-align: center;
}

.dashboard-link:hover {
  color: #2BD9FC;
}

.stats-container {
  text-align: left;
}

.points-container {
  padding-top: 1em;
}

.s {
  text-transform: lowercase;
}