* {
  box-sizing: border-box; 
}

body {
  background-image: url("components/images/background/computers-developer-development-1181275-white.png");
  background-repeat: no-repeat;
  height: 120vh;
  background-position: center;
  background-size: auto 300%;
  margin: 0;
}

html, body {
  font-family: 'Lora', serif;
  height: 100%;
 }
 
 h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
 }

 